@model IEnumerable<WebXeGanMay.Models.LOAIXE>


<div class="list-group list-group_1">
    <h4 style="margin-top: 50px">Danh Muc</h4>
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPTTheoMenu" ,"Store" , new {id = item.MaLX})" class="list-group-item">
            @item.TenLoaiXe
        </a>
    }
</div>
