@model IEnumerable<WebXeGanMay.Models.NHAPHANPHOI>


<div class="list-group list-group_2">
    <h4 style="margin-top:10px">Nhà Phân Phối</h4>
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPTNhaPP","Store",  new{ id = item.MaNPP })" class="list-group-item" >
            @item.TenNPP
        </a>
    }
</div>

