
@model IEnumerable<WebXeGanMay.Models.XEGANMAY>

@{
    ViewBag.Title = "SPTNhaPP";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<section>

    <div id="danhsachxe">
        @foreach (var item in Model)
        {
            <div>
                <a href="@Url.Action("Detail", "Store" , new {id=  item.MaXe })"><img class="hinhxe" src="~/content/Images/XE/@item.Anhbia"></a>
                <p class="tenxe">@item.TenXe</p>
            </div>
        }
    </div>
</section>
