@model  IEnumerable<WebXeGanMay.Models.XEGANMAY>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

    <article>
        <section>
            <!-- InstanceBeginEditable name="noidung" -->
            @*<div class="wraper">
            <div class="slide">
                <div class="slide_1 ra">
                    <img src="~/content/Images/FB.jpg" alt="" width="1100" height="200 ">
                </div>
                <div class="slide_2">
                    <img src="https:/www.suzuki.com.vn/images/GD110/BANNER-LAI-THU-GD110-APRIL.png" alt="" width="1100" height="200 ">
                </div>
                <div class="slide_3">
                    <img src="https:/www.suzuki.com.vn/images/GSX150-Bandit/BANDIT-TEST-DRIVE-BANNER.png" alt="" width="1100" height="200 ">
                </div>
            </div>

        </div>*@




            <br><br>
            <div id="danhsachxe">
                @foreach (var item in Model)
                {
                    <div>
                        <a href="@Url.Action("Detail", "Store" , new {id=  item.MaXe })"><img class="hinhxe" src="~/content/Images/XE/@item.Anhbia"></a>
                        <p class="tenxe"><a href="Exciter.html">@item.TenXe</a></p>
                    </div>
                }
            </div>
            <!-- InstanceEndEditable -->
        </section>
        @*<aside id="right">
             InstanceBeginEditable name="samphammoi" 
            <div>
                <p>SẢN PHẨM MỚI</p>
                <marquee onMouseOut="start()" onMouseOver="stop()" scrollamount="4" scrolldelay="100" direction="up">
                    <div>
                        <img src="~/content/Images/XE/Honda/danh-gia-honda-air-blade-2015-gia-xe-va-chi-tiet-hinh-anh-457-1420225983-54a6edbf31871.jpg">
                        <p><a href="#">Honda Air Blade 2015 </a></p>
                        <p class="maugia">40.990.000 VND</p>
                    </div>
                    <div id="viencham">
                        <img src="~/content/Images/XE/Honda/danh-gia-xe-future-2016-honda-hinh-anh-gia-ban-moi-nhat-1.jpg">
                        <p><a href="#">Honda Future 125 FI</a></p>
                        <p class="maugia">30.990.000 VND</p>
                    </div>
                    <div>
                        <img src="~/content/Images/XE/Honda/vision-1443.jpg">
                        <p><a href="#">VISION 2014 </a></p>
                        <p class="maugia">29.990.000 VND</p>
                    </div>
                    <div>
                        <img src="~/content/Images/XE/Honda/Đánh-giá-xe-Honda-Blade-110-2016-hình-ảnh-giá-bán-thị-trường-7.jpg">
                        <p><a href="#">Honda Blade</a></p>
                        <p class="maugia">20.600.000 VND</p>
                    </div>
                    <div>
                        <img src="~/content/Images/XE/Honda/4514790_Xe_Tinhte_SH_2.jpg">
                        <p><a href="#">SH 150cc </a></p>
                        <p class="maugia">79.990.000 VND</p>
                    </div>
                </marquee>
            </div>
             InstanceEndEditable 
        </aside>*@
    </article>
   
