@model IEnumerable<WebXeGanMay.Models.XEGANMAY>
@{
    ViewBag.Title = "XePIAGGIO";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<article>
    <section>
     
        <br><br>
        <div id="danhsachxe">
            @foreach (var item in Model)
            {
                <div>
                    <a href="@Url.Action("Detail", "Home" , new {id=  item.MaXe })"><img class="hinhxe" src="~/content/Images/XE/Piaggio/@item.Anhbia"></a>
                    <p class="tenxe"><a href="Exciter.html">@item.TenXe</a></p>
                </div>
            }
        </div>
        <!-- InstanceEndEditable -->
    </section>
    
</article>
